@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: none;
}

:root {
  overscroll-behavior: none;
}
